[submodule "python-texttable"]
	path = python-texttable
	url = https://github.com/bufordtaylor/python-texttable.git
[submodule "texttable"]
	path = texttable
	url = https://github.com/bufordtaylor/python-texttable.git
